.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// IE不兼容
.two-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}